.footer {
    margin: 0;
    padding: 0;
    background-color: black;
    height: auto;
}

.foot-menu{
    color: white;
    padding: 2% 1%;
    box-sizing: border-box;
}

.redes i{
    color: white;
    padding: 10% 1%;
    box-sizing: border-box;
}

.foot-logo{
    color: white;
    padding: 2% 1%;
    box-sizing: border-box;
}