.main {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: center;
}

.h4 {
  margin: 0;
  padding: 2% 0 0 0;
  box-sizing: border-box;
}

.sct-carousel {
  margin: 0 0 2% 0;
  padding: 0;
}

.img-carousel {
  width: 100%;
  height: calc(100vh);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-carousel--1 {
  background-image: url('../img/wall/wallpaper-001.jpg');
}

.img-carousel--2 {
  background-image: url('../img/wall/wallpaper-002.jpg');
}

.img-carousel--3 {
  background-image: url('../img/wall/wallpaper-003.jpeg');
}

.title-slide,
.p-slide {
  color: white;
  text-shadow: 2px 2px black;
}

.slide>div>ul {
  list-style: none;
  padding: 0;
}

.slide>div>ul>li {
  display: block;
  float: left;
  width: 33.33%;
  height: auto;
  text-align: center;
}

.slide>div>ul>li>button {
  border: none;
}

.slide>div>ul>li>a {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slide>div>ul>li>a:hover {
  transform: scale(1.025);
  transition: all 0.5s ease-out;
}


.slide>div>ul>li>a>span {
  width: 100%;
  height: 100%;
}

.slide>div>ul>li>a>h4 {
  color: white;
  text-shadow: 2px 2px black;
  position: absolute;
  bottom: 3%;
  width: 70%;
  margin: 0 15%;
  box-sizing: border-box;
  text-align: center;
  background-color: black;
  opacity: 75%;
}

.img-bike {
  width: 90%;
}

.img-marca {
  width: 70%;
}

.img-compet {
  width: 70%;
}

.img-atlet {
  width: 70%;
}

.carousel-mod-prev {
  justify-content: left;
  width: auto;
  padding: 0 0 0 0.8%;
  height: 100%;
}

.carousel-mod-next {
  justify-content: right;
  width: auto;
  padding: 0 0.8% 0 0;
  height: 100%;
}

.btn-mod {
  padding: 2%;
  box-sizing: border-box;
  border: none;
}

.icon-mod:hover {
  background-color: black;
  opacity: 50%;
  height: 100%;
  height: 90%;
}

.img-mod {
  width: 100%;
}

.icone {
  filter: invert(1);
}