@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('media.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

* {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}



