.competencia {
  padding: 2% 3%;
  margin: 0 0 5px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(44, 86, 94);
  box-sizing: border-box;
}

.competencia>div {
  display: flex;
  width: 100%;
  padding: 0 0 2% 0;
  flex-direction: row;
}

.competencia>div>div {
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.competencia>div>div>p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.divpercent {
  text-align: right;
  background-color: rgb(168, 223, 233);
  width: 90%;
  height: 15px;
  padding: 0;
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
}

.html,
.css,
.react,
.java,
.boot,
.manege,
.leader,
.cad,
.photo,
.video {
  font-size: 70%;
  border-radius: 5px;
  color: rgb(168, 223, 233);
  padding: 0 5px 0 0;
  box-sizing: border-box;
}

.react,
.java,
.boot {
  animation: A15 3s normal forwards linear 2s;
}

.css {
  animation: A25 3s normal forwards linear 2s;
}

.video {
  animation: A70 3s normal forwards linear 2s;
}

.html,
.leader {
  animation: A75 3s normal forwards linear 2s;
}

.manege {
  animation: A80 3s normal forwards linear 2s;
}

.cad,
.photo {
  animation: A85 3s normal forwards linear 2s;
}

@keyframes A25 {
  0% {
    color: rgb(168, 223, 233);
    width: 0%;
    opacity: 0;
    background-color: rgb(6, 33, 44);
  }

  100% {
    color: white;
    width: 25%;
    opacity: 1;
    background-color: rgb(6, 33, 44);
  }
}

@keyframes A15 {
  0% {
    color: rgb(168, 223, 233);
    width: 0%;
    opacity: 0;
    background-color: rgb(6, 33, 44);
  }

  100% {
    color: white;
    width: 15%;
    opacity: 1;
    background-color: rgb(6, 33, 44);
  }
}

@keyframes A70 {
  0% {
    color: rgb(168, 223, 233);
    width: 0%;
    opacity: 0;
    background-color: rgb(6, 33, 44);
  }

  100% {
    color: white;
    width: 70%;
    opacity: 1;
    background-color: rgb(6, 33, 44);
  }
}

@keyframes A75 {
  0% {
    color: rgb(168, 223, 233);
    width: 0%;
    opacity: 0;
    background-color: rgb(6, 33, 44);
  }

  100% {
    color: white;
    width: 75%;
    opacity: 1;
    background-color: rgb(6, 33, 44);
  }
}

@keyframes A80 {
  0% {
    color: rgb(168, 223, 233);
    width: 0%;
    opacity: 0;
    background-color: rgb(6, 33, 44);
  }

  100% {
    color: white;
    width: 80%;
    opacity: 1;
    background-color: rgb(6, 33, 44);
  }
}

@keyframes A85 {
  0% {
    color: rgb(168, 223, 233);
    width: 0%;
    opacity: 0;
    background-color: rgb(6, 33, 44);
  }

  100% {
    color: white;
    width: 85%;
    opacity: 1;
    background-color: rgb(6, 33, 44);
  }
}