@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap');
/* font-family: 'Manrope', sans-serif; */

@import url("experiencia.css");
@import url("formacao.css");
@import url("competencia.css");
@import url("sobre.css");
@import url("contato.css");
@import url("footer.css");

html{
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

body{
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body>div{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

body>div>aside{
  display: flex;
  position: fixed;
  top: 0;
  left: 4%;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top,rgb(6, 33, 44),rgb(6, 33, 44), white);
}

.menu{
  display: block;
  float: left;
}

.menu>ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 10% 0 0 5%;
  box-sizing: border-box;
}

.menu>ul>li{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
}

.menu>ul>li>a, .menu>ul>li>a:visited{
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.menu>ul>li>a:hover, .menu>ul>li>a:active{
    border-bottom-color: rgb(101, 203, 221);
  }

.menu>ul>li>a>span{
    color: rgb(101, 203, 221);
    text-decoration: none;
    font-size: 90%;
}

.contact{
  width: 100%;
  display: flex;
  flex-direction: row;
  float: left;
  margin: 0;
  padding: 5% 0;
  box-sizing: border-box;
  justify-content: center;
}

.contact>a, .contact>a:visited{
  color: rgb(101, 203, 221);
  padding: 5% 5%;
  box-sizing: border-box;
}

.contact>a:hover, .contact>a:active{
  transform: scale(1.5);
  transition: all 0.5s ease-out;
}

body>div>main{
  display: flex;
  flex-direction: column;
  float: left;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body>div>aside>span{
  text-align: center;
  padding: 10% 0 0 0;
  box-sizing: border-box;
}

.perfil{
  width: 80%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid rgb(101, 203, 221);
  border-radius: 50%;
}

.competencias{
  background-color: greenyellow;
  padding: 2% 3%;
  box-sizing: border-box;
  display: block;
  float: left;
}

.cursos{
  background-color: yellow;
  padding: 2% 3%;
  box-sizing: border-box;
  display: block;
  float: left;
}

.projetos{
  background-color: greenyellow;
  padding: 2% 3%;
  box-sizing: border-box;
  display: block;
  float: left;
}

.premios{
  background-color: yellow;
  padding: 2% 3%;
  box-sizing: border-box;
  display: block;
  float: left;
}